# Doğal Dil İşleme(Natural Language Processing) Nedir ?

"Bilgisayarların konuştuğumuz dili anlaması, işlemesi, yorum yapması ve hatta cümle üretebilmesi" doğal dil işlemedir. Doğal dil işleme, hesaplamalı bilimlerle (özellikle yapay zeka ve makine öğrenmesi) dil biliminin ortak kullanıldığı bir disiplindir.

## Doğal Dil İşleme Nasıl Uygulanır ?

Doğal dil işleme süreçleri dilden dile değişiklik gösterir. Bilgisayar, önce kelimenin kökü üzerine gelen eklerle birlikte dönüşümüne bakar, buna kelime bilimi (lexical) denir. Bundan sonra cümledeki kelimelerin dizilimine göre ne anlama geldiğini anlamaya çalışır buna sözdizim denir (syntactic). Ardından cümlenin özünde anlatmaya çalıştığına bakar, buna semantic denir. Son olarak da cümlelerin bir araya gelerek ifade etmek istediğine bakar, bu da söylevdir (pragmatics). Özetle, bilgisayar kelime kökünü ayrı, kelimelerin dizilmesini ayrı, cümlenin ve söylevin anlamını ayrı inceleyerek konuşmanın bağlamını öğrenir ve bu konuşmadan bir anlam çıkarır.

## Doğal Dil İşleme Uygulama Alanları Nelerdir ?

1.Metin Sınıflandırma ve Kategorizasyon (Text Classification and Categorization) \
2.Adlandırılmış Varlık Tanıma (Named Entity Recognition (NER) ) \
3.Konuşma Bölümü Etiketleme (Part-of-Speech Tagging) \ 
4.Anlamsal Ayrıştırma ve Soru Cevaplama (Semantic Parsing and Question Answering) \
5.Yorum Bulma (Paraphrase Detection) \
6.Dil Üretimi ve Çok Belgeli Özetleme (Language Generation and Multi-document Summarization) \
7.Dil Çeviri (Machine Translation) \
8.Ses Tanıma (Speech Recognition) \
9.Karakter Tanıma (Character Recognition) \
10.Yazım Denetimi (Spell Checking)

In [1]:
import pandas as pd

In [2]:
train=pd.read_csv("Corona_traın.csv", encoding='ISO-8859-1')
test=pd.read_csv("Corona_test.csv", encoding='ISO-8859-1')

In [3]:
train.head(1)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral

In [4]:
test.head(1)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative